@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

#content {
    min-height: calc(110vh - 300px);
}

/*----------------------------------------header/navbar*/

header {
    background-color: #00008B;
    min-height: 120px;
}

.bg-light {
    background-color: transparent !important;
}

.headername {
    font-family: "Exo", sans-serif;
    font-size: 40px;
    margin-right: 7px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}
.navbar-toggler {
    color: #ffffff;
}

h3 {
    font-family: "Exo", sans-serif;
    color: white;
}

a.nav-pagelink  {
    font-family: "Exo", sans-serif; 
    color: white;
    font-size: 17px;
    font-weight: 500;
    padding: 20px;
}

/*----------------------------------------Templates*/

.card-header {
    font-family: "Exo", sans-serif; 
}

.review {
    margin-top: 25px;
}

.title {
    text-align: center;
    font-family: "Exo", sans-serif;
    padding-top: 20px;
}

img {
    max-width: 250px;
    max-height: 200px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}


/*----------------------------------------Footer*/

footer {
    background-color: #00008B;
    min-height: 120px;
}

.Contact {
    margin-top: 20px;
    font-family: "Exo", sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    color: white;
}

.social-media {
    margin-top: 20px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 25px;
    color: white;
    width: 50px;
    height: 50px;
}